.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  height: 400px;
}

.thumbnail {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: 10px; 
}

.thumbnail-img {
  height: 100px;
  margin: 0px 25px;
}

.button {
  background-color: rgb(102, 76, 175); 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 12px;
  cursor: pointer;
}

.remove, .add {
  font-size: 12px;
  margin: 4px 2px;
  padding: 10px 20px;
}

.add {
  margin-left: 10px;
}

#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(130, 117, 173);
  color: white;
}

#form {
  text-align: left;
  width: 60%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: rgb(212, 202, 202);
  padding: 20px;
}

#form-input {
  width: 30%;
  background-color: #f2f2f2;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#gallery-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.next, .previous{
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}

#about {
  margin: 50px;
}


